{% extends 'layout.twig' %}
{% block content %}
 

h1 WPStack Starter Theme
p Congulations you succesfully installed the wppack-starter-theme, to get started change the jade templates in `wppack/src/views`


h2 Corcel (Eloquent ORM)

h4 Posts
ul
	{% for item in corcel.posts %}
	li 
		a(href="{{item.url}}") {{item.title}} 
	{% else %}
	li No products found
	{% endfor %}
	
h4 Products
	ul
		{% for item in corcel.products %}
		li {{item.title}}
		{% else %}
		li No products found
		{% endfor %}

h4 Contacts
		ul
			{% for item in corcel.contacts %}
			li {{item.title}}
			{% else %}
			li No contacts found
			{% endfor %}


h2 Timber (Twig & Jade)
{% for item in posts %}
h3
	a(href="{{item.permalink}}") {{item.title}}
{{item.get_preview}}
{% endfor %}

footer(class="pagination")
	{% if pagination.prev %}
	a(href="{{pagination.prev.link}}") Newer
	{% endif %}

	{% if pagination.next %}
	a(href="{{pagination.next.link}}") Olderdi==--
	{% endif %}

{% endblock %}
 
