doctype
html(lang='en')
  
  head
    meta(charset="UTF-8")
    title {{wp_title}}
    link(rel="stylesheet" type="text/css" href="{{theme.link}}/style.css" media="screen")
    link(rel="stylesheet" type="text/css" href="{{theme.link}}/wpstack/dist/app.css" media="screen")
    {{wp_head}}

  body

    header
      h1
        a(href="{{site.url}}") {{site.name}}
    {% include 'nav.twig' %}

    section.content
      {% block content %}
      {% endblock %}
 
    {% include 'sidebar.twig' %}

    footer
      .row
        .small-6.columns
          ul.menu
            li link 1
            li link 2
            li link 3
            li link 4
            
        .small-6.columns
          ul.menu
            li link 1
            li link 2
            li link 3
            li link 4


    {{wp_footer}}
